#content {
  font-size: 1.20vh;
}

@media screen and (orientation: landscape)
{
  #content {
    font-size: 1.125vw;
    margin: auto;
  }
  #player-buildings {
    max-width: 75vw;
    margin: auto;
  }
}

#player-buildings {
  perspective: 1000px;
  text-align: center;
}

#neutral-buildings {
  text-align: center;
}

#station-masters {
  text-align: center;
  max-width: calc(62/74 * 8 * 5.2em);
  margin: auto;
}

.station-master {
  position: absolute;
  height: 8em;
  width:  calc(62/74 * 8em);
  background-image: url("../img/tiles.webp");
  background-size: 1100% 300%;
  background-position-x: calc(var(--building-col, 2) * 100%/10);
  background-position-y: calc(var(--building-row, 10)  * 100%/2);
  border-radius: 9%;
}

.sm-container {
  display: inline-block;
  position: relative;
  height: 8em;
  width:  calc(62/74 * 8em);
  border-radius: 9%;
  box-shadow: 0 0.2em 0.4em rgba(0,0,0,0.5);
  margin-left: 1px;
  margin-right: 1px;
  transform-style: preserve-3d;
}

.fadeout {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.building-container {
  display: inline-block;
  position: relative;
  width:  10em;
  height: 10em;
  border-radius: 9%;
  box-shadow: 0 0.2em 0.4em rgba(0,0,0,0.5);
  margin-left: 1px;
  margin-right: 1px;
  transform-style: preserve-3d;
}

.building {
  position: absolute;
  width: 10em;
  height:10em;
  background-image: url("../img/buildings.webp");
  background-size: 1100% 1100%;
  background-position-x: calc(var(--building-col, 10) * 100%/10);
  background-position-y: calc(var(--building-row, 0)  * 100%/10);
  border-radius: 9%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.building-label {
  margin-top: 0.125em;
  font-size: 4.25em;
  color: white;
  font-weight: bold;
  text-shadow: 0.00em 0.00em 0.1em black, 0.00em 0.00em 0.05em black, 0.00em 0.00em 0.01em black;
}

.b-side {
  transform: rotateY(180deg);
}

.b-side .building-label {
  color: #aaff99;
}

@keyframes shuffle {
  0% {
    transform: translateX(var(--old-pos-x, 0)) translateY(var(--old-pos-y, 0));
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}
